<template>
  <div style="height: 100vh" id="q-app">
    <ag-grid-vue
            style="width: 100%; height: 100%;"
            class="ag-theme-alpine-dark"
            id="myGrid"
            :gridOptions="gridOptions"
            @grid-ready="onGridReady"
            :columnDefs="columnDefs"
            :pagination="true"
            :groupSelectsChildren="true"
            :defaultColDef="defaultColDef"
            @cell-value-changed="onCellValueChanged"
            :rowModelType="rowModelType">
    </ag-grid-vue>
  </div>
</template>
<script>
  import "ag-grid-community/dist/styles/ag-grid.css";
  import "ag-grid-community/dist/styles/ag-theme-alpine-dark.css";
  import { AgGridVue } from 'ag-grid-vue';
  import 'ag-grid-enterprise';
  import axios from 'axios';
  import { QSpinnerGears, Loading } from 'quasar';
  export default {
    components: {
      'ag-grid-vue': AgGridVue,
    },
    data: function () {
      return {
        gridOptions: null,
        gridApi: null,
        columnApi: null,
        columnDefs: null,
        defaultColDef: null,
        rowModelType: null
      };
    },
    beforeMount() {
      this.gridOptions = {};
      this.defaultColDef = {
        flex: 1,
        minWidth: 150,
        resizable: true,
        editable: true
      };
      this.rowModelType = 'serverSide';
    },
    mounted() {
      this.gridApi = this.gridOptions.api;
      this.gridColumnApi = this.gridOptions.columnApi;
    },
    methods: {
      onGridReady(params) {
        const updateData = (data) => {
          let fakeServer = createFakeServer(data);
          let datasource = createServerSideDatasource(fakeServer);
          params.api.setServerSideDatasource(datasource);
        };
        Loading.show({
          spinner: QSpinnerGears
        });
        axios.request({
          method: "get",
          url: `https://tth-dev.untld.io/customer/list/12000/${this.offset}`,
          headers: {
            Authorization: '772ead85e69fdedf7b33966cf6eb5533'
          }
        }).then(res => {
          Loading.hide();
          let arr = [];
          for(let i in res.data.data[0]) {
            arr.push({
              field: i,
              suppressSizeToFit: true,
            });
          }
          this.columnDefs = arr;
          updateData(res.data.data)
        })
      },
      onCellValueChanged(params) {
        let colId = params.column.getId();
        let customerId = params.data.customer_id;
        let newValue = params.newValue;

        console.log(colId, customerId, newValue);
      },
    },
  };
  window.createServerSideDatasource = function createServerSideDatasource(server) {
    return {
      getRows: function (params) {
        let response = server.getData(params.request);
        setTimeout(function () {
          if (response.success) {
            params.success({ rowData: response.rows });
          } else {
            params.fail();
          }
        }, 500);
      },
    };
  };

  window.createFakeServer = function createFakeServer(allData) {
    return {
      getData: function (request) {
        let requestedRows = allData.slice();
        return {
          success: true,
          rows: requestedRows,
        };
      },
    };
  };
</script>
