<template>
  <div id="q-app" class="q-pa-md">
    <q-card class="my-card">
      <q-card-section class="bg-primary text-white" align="center">
        <p class="text-h1">{{ count }}</p>
      </q-card-section>
      <q-separator />
      <q-card-actions align="center">
        <q-btn flat v-on:click="decrease()">Decrease</q-btn>
        <q-btn flat v-on:click="increase()">Increase</q-btn>
        <q-btn flat v-on:click="goHome()">Go home</q-btn>
      </q-card-actions>
    </q-card>
  </div>
</template>

<script>
  export default {
    name: 'App',
    data() {
      return { count: 0 }
    },
    methods: {
      increase() {
        this.count++
      },
      decrease() {
        this.count--
      },
      goHome() {
        this.$router.push('/home');
      }
    }
  }
</script>
